@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,#1c96e2, #12048f);
}
::selection {
    background: #12048f;
    color: #FFF;
}
.container {
    background: #FFF;
    width: 800px;
    border-radius: 20px;
    padding: 40px;
}
.container .input__field {
    z-index: 999;
    opacity: 0;
    position: absolute;
}
.container .content {
    padding: 13px 20px 0;
    border-radius: 20px;
    border: 2px solid #1c96e2;
}
.content .typing__text {
    max-height: 255px;
    overflow-y: auto;
}
.typing__text::-webkit-scrollbar {
    width: 0;
}
.typing__text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.typing__text p span {
    position: relative;
}
.typing__text p span.correct {
    color: #34c417;
}
.typing__text p span.incorrect {
    color: #cb3439;
    background: #ffc0cb;
    outline: 1px solid #fff;
    border-radius: 4px;
}
.typing__text p span.active {
    color: #088699;
}
.typing__text p span.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: #088699;
    animation: blinking 1s ease-in infinite;
}
@keyframes blinking {
    50% {
        opacity: 1;
    }
}
.content .content__box {
    display: flex;
    align-items: center;
    margin-top: 17px;
    padding: 12px 0;
    border-top: 1px solid #12048f;
    justify-content: space-between;
}
.content button {
    border: none;
    outline: none;
    width: 105px;
    background: #12048f;
    color: #FFF;
    padding: 8px 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.content button:active {
    transform: scale(1.50);
}
.content button:hover {
    background: #1c96e2;
}
.content__box .details {
    display: flex;
    width: calc( 100% - 140px );
    justify-content: space-between;
}
.time__icon {
    font-size: 25px;
    color: #12048f;
}
.details li {
    height: 22px;
    display: flex;
    align-items: center;
    list-style: none;
}
.details li:not(:first-child) {
    padding-left: 22px;
    border-left: 1px solid #12048f;
}
.details li p {
    font-size: 19px;
}
.details li span {
    display: block;
    font-size: 20px;
    margin-left: 10px;
}
ul li .tooltip {
    position: absolute;
    bottom: 140px;
    padding: 10px;
    background: #12048f;
    color: #FFF;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%) translateY(-50px);
}
ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%);
}
.refresh i {
    font-size: 22px;
    cursor: pointer;
    background: #12048f;
    color: #FFF;
    border-radius: 5px;
    padding: 8px 8px;
    transition: transform 0.4s ease;
}
.refresh i:active {
    transform: rotate(360deg);
}
.refresh i:hover {
    background: #1c96e2;
}
